aip-intelligence-pipeline/.venv/
aip-intelligence-pipeline/__pycache__/
aip-intelligence-pipeline/outputs/
aip-intelligence-pipeline/.env
aip-intelligence-pipeline/aips/
aip-intelligence-pipeline/data/aips/
aip-intelligence-pipeline/data/outputs/

# Node dependencies
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*